<!doctype html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - The Acme Co.</title>
  {% endblock %}
</head>

<body>

  <h1>The Acme Co.</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <br />
  <footer>
    {% block footer %}
    &copy; Copyright 2018 by <a href="http://localhost">The Acme Co.</a>
    {% endblock %}
  </footer>

</body>


<html>
